<a href="https://colab.research.google.com/github/baesunyoung34/Python/blob/main/py12_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CSV(Comma-Separated Values) 파일 : 쉼표(,)로 값들이 구분된 텍스트 파일.

 * Colab 연결(가상머신 할당)
 * Colab에서 Google Driver를 마운트(연결)
 * Google Drive의 'Colab Notebooks/lab_python' 폴더에 csv_exam.csv 파일을 업로드

 1. csv_exam.csv 파일을 읽기 보드로 open.
 1. 파일을 첫번째 줄은 컬럼 이름이기 때문에 읽고 추가 작업 없이 건너뜀.
 1. 파일의 두번재 줄부터 마지막 줄까지 한 줄씩 읽으면서 반복:
    * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듬.
    * `[['1', '2', '50', '98', '50'] ['2', '1', '60' ,'97', '60'],...]`
 1. 위에서 만들어진 2차원 리스트의 모든 값들을 숫자로 변환.
    * `[[1, 2, 50, 98, 50] , [2, 1, 60, 97, 60]]`
 1. 2차원 숫자 리스트에서 수학 점수들로만 이루어진 1차원 리스트를 만듬.
    * `[50, 60, 45, ...]`
 1. 수학 점수의 평균, 최댓값 , 최솟값을 찾음
 1. 1반 (class=1) 학생들의 수학 점수의 총점 , 평균, 최댓값, 최솟값을 찾음

In [23]:
file = '/content/drive/MyDrive/Colab Notebooks/lap_python/csv_exam.csv'

In [25]:
with open(file, mode='rt') as f:
   line = f.readline()
   print(line.strip())

id,class,math,english,science

In [30]:
exam = [] # 각 학생들의 데이터 id , class, math, english, science)를 저장할 리스트

In [31]:
with open(file, mode='rt') as f:
    f.readline() # 첫번째 행을 건너뜀
    for line in f:
        #print(line.strip())
        #읽은 한 줄에서 앞 뒤의 공백 문자를 제거하고, 쉼표로 구분된 문자열 리스트를 만듦.
        temp = line.strip().split(',')
        #print(temp)
        exam.append(temp) # 리스트에 exam에 리스트를 추가.

In [32]:
exam

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [33]:
with open(file, mode='rt') as f:
    f.readline()
    exam = [line.strip().split(',') for line in f]

In [34]:
exam

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [36]:
exam2 = []
for row in exam:
    row_num = []
    for x in row:
        row_num.append(int(x))
    exam2.append(row_num)

In [38]:
exam2

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [40]:
exam2 = []
for row in exam:
    row_num =[int(x) for x in row]
    exam2.append(row_num)

In [41]:
exam2

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [43]:
exam2 = [[int(x) for x in row]
            for row in exam]
exam2

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [51]:
math = []
for row in exam2:
    math.append(row[2])
math
sum_math = sum(math)
avg_math = sum_math / len(math) # 수학 평균
max_math = max(math) # 수학 최댓값
min_math = min(math) # 수학 최솟값
print(math)
print(sum_math)
print(avg_math)
print(max_math)
print(min_math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]
1149
57.45
90
20

In [57]:
# 1반 학생들의 수학 점수
math_class1 = math[:4] # 20명 학생들 중 앞에서 4개 선택 - > 1반
math_class1

[50, 60, 45, 30]

In [59]:
math_class1 = []
for row in exam2:
    if row[1] == 1: # class 값이 1인 경우.
        math_class1.append(row[2]) # 수학 점수를 append
math_class1

[50, 60, 45, 30]

In [62]:
math_class1 = [row[2] for row in exam2 if row[1] == 1]
math_class1

[50, 60, 45, 30]

In [63]:
sum(math_class1)

185

In [64]:
sum(math_class1) / len(math_class1)

46.25

In [65]:
max(math_class1)

60

In [66]:
min(math_class1)

30