<a href="https://colab.research.google.com/github/baesunyoung34/Python/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP: Object_Oriented Programing)

In [48]:
class Student:
    # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터 의해서 자동으로 호출되는 메서드.
    def __init__(self, no, name, python, java, javascript):
        self.no = no
        self.name = name
        self.python = python
        self.java = java
        self.javascript = javascript


    def get_total(self):
        #파이썬의 메서드는 멤버들의 접근할 때 반드시 self 키워드를 사용해야 함.
        return self.python + self.java + self.javascript
    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'Student(번호={self.no}, 이름={self.name}, 파이썬={self.python}, java={self.java}, javascript = {self.javascript})')

In [49]:
# Student 타입의 객체 생성
student1 = Student(1, '홍길동' , 100, 60, 50) # 생성자 호출 : 생성자 이름 - 클래스 이름, new 키워드를 사용하지 않음.

In [50]:
print(student1) # 객체 student1을 문자열로 출력

<__main__.Student object at 0x7f907d73bfa0>

In [51]:
student1 # 객체 student1 의 식(expression)을 출력

In [52]:
student1.no

1

In [53]:
student1.name

'홍길동'

In [54]:
student1.get_total()

210

In [55]:
student1.get_mean()

70.0

In [56]:
student1.print_info()

Student(번호=1, 이름=홍길동, 파이썬=100, java=60, javascript = 50)

In [58]:
import math
# math 모듈을 임포트 -> math.sqrt()

# class : Point
    * 2차원 평면의 점의 좌표 (x , y)를 표현하는 클래스
* 생성자 함수 : x, y를 초기화 . x, y의 기본값은 0.
* 메서드
    * move : 점의 좌표를 원래 위치에서 dx , dy만큼 이동시키는 메서드.
    * distance : 현재 점의 위치에서 다른 점까지의 거리를 계산하는 리턴하는 메서드.    
        * `sqrt((x1 - x2)**2 + (y1 - y2) **2)`
 >>> $\sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2} $

In [59]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
    def move(self, dx , dy):
        self.x =+ dx
        self.y =+ dy
    def distance(self, pt):
        return math.sqrt((self.x - pt.x) ** 2 + (self.y - pt.y) ** 2)

In [64]:
pt1 = Point() # 생성자 함수의 default argument 사용
pt1

In [65]:
print(f'x={pt1.x}, y={pt1.y}')

x=0, y=0

In [66]:
pt1.move(1, 1)
print(f'x={pt1.x}, y={pt1.y}')

x=1, y=1

In [72]:
pt2 = Point(1, 2)
pt2

In [73]:
print(f'x={pt2.x}, y={pt2.y}')

x=1, y=2

In [74]:
pt1.distance(pt2)

1.0

#magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드.

특별한 경우에 파이썬 인터프리터에 의해서 호출되는 메서드.

* `__init_-()` :
    * 생성자르 호출하면 자동으로 호출되는 메서드.
    * 인스턴스 필드(프로퍼티)들을 초기화하는 메서드.
* `__str__() : print()` 함수가 아규먼트 객체일 때 자동으로 호출되는 메서드
*`__repr__()` : representation.
    * 식(expression)을 출력할 때 자동으로 호출되는 메서드.
    * `print()` 함수의 동작 방식:
        * 객체를 출력하기 위해서, 그 객체의 `__str__()` 메서드를 호출함.
        * `__str__()` 메서드가 없는 경우에는, `__repr__()` 메서드를 호출함.
        *  `__str__()` 메서드와 `__repr__()` 메서드가 모두 없는 경우에는, 기본 문자열 (...object at Ox...)로 출력.

In [90]:
class T:
    def __str__(self):
        return 'class T instance'
    def __repr__(self):
        return 'T'

In [91]:
t = T() # 생성자 호출 -> __init__() 메서드 호출

In [92]:
print(t) #__str__() 메서드 자동 호출

class T instance

In [93]:
t #__repr__() 메서드 자동 호출

T

* `__eq__()`: eqaul
    * `==`연산자를 사용했을 때 자동으로 호출되는 메서드.
    * 두 객체가 같은 지(True) 다른 지(False)를 리턴.

In [95]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list1 == list2 # list 클래스가 __eq__ 메서드를 구현하고 있기 때문에.

True

In [100]:
class Number:
    def __init__(self, n):
        self.n = n

    def __repr__(self):
        return str(self.n)
    def __eq__(self , other):
        return self.n == other.n

In [101]:
n1 = Number(1)
n1

1

In [102]:
n2 = Number(1)
n2

1

In [103]:
n1 == n2 # n1.__eq__(n2)

True

# Exercise
* class Score
    * 프로퍼티 : korean , math, science (int 타입)
    * 메서드 : `__init__` , `__repr__`, `__eq__`, `get_total`, `get_mean`

* class Student
    * 프로퍼티 : no(int), name(str), score(Score)
    * 메서드: `__init__` , `__repr__`

In [112]:
class Score:
    def __init__(self, korean, math, science):
        self.korean = korean
        self.math = math
        self.science = science

    def __repr__(self):
        return f'korean={self.korean}, math={self.math}, science={self.science}'

    def __eq__(self , other):
        return (
            self.korean == other.korean,
            self.math == other.math,
            self.science == other.science
        )


    def get_total(self):
        return self.korean + self.math + self.science

    def get_mean(self):
        return self.get_total() / 3

In [115]:
class Student:
    def __init__(self,no ,name, score):
        self.no = no
        self.name = name
        self.score = score
    def __repr__(self):
        return (f'no={self.no}, name={self.name}, score={self.score}')

In [124]:
score1 = Score(80, 70 , 60)
score1

student1 = Student(1, '배선영', score1)

score1.get_total()
score1.get_mean()

70.0

# 상속(Inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스) , child class(자식 클래스), derived class(유도 클래스)
* 상속 : 상위 클래스의 속성(데어터)들과 기능(메서드)들을 하위 클래스에서 재상용하는 것.
* 일반적으로 **IS-A** 관계가 성립하는 객체들을 상속을 사용해서 구현함.
    * 학생은 사람이다(Student IS A Person).

In [125]:
class Person:
    def __init__(self, name, age=0):
        self.name = name
        self.age = age

    def hello(self):
        print(f'안녕하세요, 저는 {self.name}입니다. 나이는 {self.age} 입니다.')

In [126]:
gildong = Person('홍길동')
gildong.hello()

안녕하세요, 저는 홍길동입니다. 나이는 0 입니다.

In [128]:
#Person을 상속하는 Student 클래스 정의
class Student(Person):
    #method override
    def __init__(self, name, age=0, school='Test'):
        # 하위 클래스에서 상위 클래스의 생성자 함수를 호출
        super().__init__(name, age)
        self.school = school
        # hello method override
    def hello(self):
        super().hello()
        print(f'학교는 {self.school}입니다.')

In [129]:
stu = Student(name='오쌤', age=16, school='아이티윌')

In [130]:
stu.hello()

안녕하세요, 저는 오쌤입니다. 나이는 16 입니다.
학교는 아이티윌입니다.

#Method Override

* 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것.
    * 파이썬에서는 메서드의 이름만 같으면 (파라미터 타입/개수와 상관 없이) 메서드가 재정의됨.
        * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음 - overloading은 제공하지 않음.
    * 자바에서는 메서드 이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
        * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음 - overloading
* 하위 클래스에서 재정의(overrid)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 super().method_name(...)의 형식으로 호출함.

In [131]:
def a():
    print('a')

In [132]:
def a(msg):
    print(msg)

In [134]:
a('test')

test

파이썬은 함수(메서드) 오버로딩을 제공하지 않음.
파라미터가 다르다고 해서 같은 이름으로 함수(메서드)를 정의할 수 없음.
같은 이름으로 함수를 정의하면, 가장 마지막에서 정의한 함수만 남음.
파이선은 함수(메서드) 오버로딩 대신에, default argument를 이용하면, 같은 이름의 함수를 여러가지 방법으로 호출할 수 있음.

In [135]:
def a(msg='a'):
    print(msg)

In [136]:
a()

a

In [137]:
a('TEST')

TEST